<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <h1>home</h1>
    <h2>your path to becoming a node.js ninja</h2>

    <!-- <% const name = 'mario'%> -->
    <%- include('./partials/nav.ejs') %>
  
    <div>
        <h2>All Blogs</h2>
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%= blog._id%>">
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.snippet %></p>
                    <p class="body"><%= blog.body %></p>
                </a>
            <% }) %>
        <% } else { %>
                <p>There are no blogs to display</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html> 